In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Get Data

In [30]:
df = pd.read_csv('C:\\Users\\lic004\\Desktop\\GitHubTesting\\data\\cleanedData.csv')
df.head()

       Date       High        Low       Open      Close    Volume Company
0  1/3/2006  47.180000  46.150002  46.919998  47.080002  16296700     BAC
1  1/4/2006  47.240002  46.450001  47.000000  46.580002  17757900     BAC
2  1/5/2006  46.830002  46.320000  46.580002  46.639999  14970700     BAC
3  1/6/2006  46.910000  46.349998  46.799999  46.570000  12599800     BAC
4  1/9/2006  46.970001  46.360001  46.720001  46.599998  15619400     BAC

## Training a Logistic Regression Model

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [32]:
# Set variables
X = df[['High','Low','Open','Close']]
y = df['Volume']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [ ]:
# Create and train the model

# takes a long time!
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)

In [ ]:
# Model evaluation

# get the intercet
print(logistic_model.intercept_)

In [ ]:
coeff_df = pd.DataFrame(logistic_model.coef_, X.columns, columns=['Coefficient'])
coeff_df

In [ ]:
# Model predictions

predictions = logistic_model.predict(X_test)
plt.scatter(y_test, predictions)

In [ ]:
# Residual histogram
sns.distplot((y_test-predictions),bins=50)

In [ ]:
# Regression Evaluation Metrics
from sklearn import metrics
from sklearn.metrics import classification_report

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

In [ ]:
print(classification_report(y_test,predictions))